<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Carts</title>
    </head>

    <body>

        <div class ="container">
            <div class ="row">
                <div>
                    {% if current_user.is_authenticated %}
                        <form method="POST">
                            <div class="row">
                                Please select a cart:
                                <select id ="cid">
                                    <option value = ""></option>
                                    {% for cart in carts %}
                                        <option value = "{{ cart.cid }}"> {{ cart.name }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row">
                                Please select a new food item:
                                <select id = "fname" onchange='checkvalue(this.value)'>
                                    <option value = ""></option>
                                    {% for food in foods %}
                                        <option value = "{{ food.fname }}"> {{ food.fname }} </option>
                                    {% endfor %}
                                    <textarea class = "fname" id="selectFood" placeholder="Enter a new food option if not listed" ></textarea>
                                </select>
                            </div>
                            <div class="row">
                                If food item is not listed in dropdown box, please input in the text box below:<br>
                                Please enter a price for the new food item:<br><br>
                                <textarea class = "price" name="price" placeholder="Enter a price value"></textarea><br><br>
                                <input type="submit" name = "postc" class="btn btn-success" value="Submit new food option for this cart">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>


    <script>
        function checkvalue(val)
            {
                if(val==="")
                    document.getElementById('selectFood').value = "";
                else
                    document.getElementById('selectFood').value = document.getElementById('fname').value;
            }
    </script>
    </body>
</html>

