<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Carts</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                    <a class="navbar-brand" href="{{ url_for('carts') }}">Carts</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>

        <div class="container">
            <table class = "general">
        		<tr>
        			<td><strong>Carts Map</strong></td>
        		</tr>
        		<tr>
        			<td width = "100%">
        				<p>
        					<iframe width="1000" height="300" frameborder="0" src="https://vivian206.carto.com/builder/23639ba7-4d96-4fe2-b39a-c13267037c6d/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        				</p>
        			</td>
                </tr>
    	    </table>
        </div>

        <div class="container">
            <div class="row">
                <form onsubmit="return selectCart()">
                <select id="cartSelect">
                    <option value =""> </option>
                    {% for cart in carts %}
                        <option value = "{{ cart.id }}"> {{ cart.name }} </option>
                    {% endfor %}
                </select>
                    <button type="submit" name ="selectc" class="btn btn-success" value="Select Cart">Select Cart</button>
                </form>
            </div>
        </div>

        <div class ="container">
            <div class ="row">
            {% if cartName %}
                {% for cartN in cartName %}
                    <h4>Displaying comments for:<br>
                    {{ cartN.name }}</h4>
                {% endfor %}
            {% endif %}</h3>
            </div>
        </div>

        <div class ="container">
            <div class ="row">

                {% if comments %}
                <ul>
                    {% for comment in comments %}
                    <div class="row">
                        {{ comment.content }}
                    </div>
                    <div>
                        <small>
                            Posted
                            {% if comment.posted %}
                                {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                            by
                            {% if comment.commenter %}
                                {{ comment.commenter.username }}
                            {% else %}
                                anonymous
                            {% endif %}
                        </small>
                    </div>
                    {% endfor %}
                    <div>
                        {% if current_user.is_authenticated %}
                            <div class="row">
                                <form method="POST">
                                    <textarea name="contents" placeholder="Enter a comment"></textarea>
                                    <input type="submit" name = "postc" class="btn btn-success" value="Post comment">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </ul>
                {% endif %}
            </div>
        </div>

    <script>
        var cartSelect = document.getElementById('cartSelect');

        function selectCart(){
            console.log('/carts/' + cartSelect.value)
            window.location = '/carts/' + cartSelect.value;
            return false
        }

    </script>

    </body>
</html>

