<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Food</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                    <a class="navbar-brand" href="{{ url_for('carts') }}">Carts</a>
                </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <form onsubmit="return selectFood()">
                <select id="foodSelect">
                    <option value =""> </option>
                    {% for food in foods %}
                        <option value = "{{ food.fname }}"> {{ food.fname }} </option>
                    {% endfor %}
                </select>
                    <button type="submit" name ="selectf" class="btn btn-success" value="Select Food">Select Food</button>
                </form>
            </div>
        </div>

        <div class ="container">
            <div class ="row">
            {% if cartsPrices %}
                {% for cartsPrice in cartsPrices %}
                    <h4>Displaying Carts and Prices for: {{ cartsPrice.fname }}<br></h4>
                    Cart ID: {{ cartsPrice.cid }} Price: {{ cartsPrice.price }}
                {% endfor %}
            {% endif %}
            </div>
        </div>


    <script>
        var foodSelect = document.getElementById('foodSelect');

        function selectFood(){
            console.log('/food/' + foodSelect.value)
            window.location = '/food/' + foodSelect.value;
            return false
        }

    </script>

    </body>
</html>

