<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>MAIN PAGE</title>

    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
              <a class="navbar-brand" href="{{ url_for('carts') }}">Carts</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>


    <div class="container">
        <strong>Carts Map</strong>
        <table class = "general">
    		<tr>
    		    <td colspan = "2">
    		        Welcome to this website. We have compiled a list of carts around Hunter College and their menus. Please use the search features to explore the food prices and feel free to comment on each cart.
    		    </td>
    		</tr>
    		<tr>
    			<td width = "50%" rowspan = "2">
    				<p>
    					<iframe width="100%" height="600" frameborder="0" src="https://vivian206.carto.com/builder/23639ba7-4d96-4fe2-b39a-c13267037c6d/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    				</p>
    			</td>
    			<td>
    			    <iframe src="{{ url_for('menu') }}" height="300" width="100%" style="border:none;"></iframe>
                </td>
    		</tr>
    		<tr>
    		    <td>
    		        <iframe src="{{ url_for('food') }}" height="300" width="100%" style="border:none;"></iframe>
    		    </td>
    		</tr>
	    </table>
    </div>

    </body>
</html>