<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel = "stylesheet" type = "text/css" href = "css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>MAIN PAGE</title>

    </head>

    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
              <a class="navbar-brand" href="{{ url_for('carts') }}">Carts</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>


    <div class="container">
        <h3><strong>Carts around Hunter College</strong></h3>
        <table class = "general">
    		<tr>
    		    <td colspan = "2">
    		        Welcome Hunter's first crowdsourced food cart website! Here, you can find a list of food carts and their menus around Hunter College.
    		        Please use the search features to explore the food prices and feel free to comment on each cart.
    		        To add a comment, new cart, or new food item, go on the "Carts" page (user must be logged in to post). <br>
    		    </td>
    		</tr>

    		<tr>
    			<td width = "50%" rowspan = "3">
    				<p><br>
    					<iframe width="100%" height="723" frameborder="0" src="https://www.google.com/maps/d/embed?mid=1ZLjvtxv_oe3pAn7v0Gt8aFYdR-fwASDT&hl=en" > </iframe>
                    </p><br><br><br>
    			</td>
    			<td><br>
    			    <iframe src="{{ url_for('menu') }}" height="241" width="100%" style="border:none;" scrolling="yes"></iframe>
                </td>
    		</tr>
    		<tr>
    		    <td>
    		        <iframe src="{{ url_for('food') }}" height="241" width="100%" style="border:none;" scrolling="yes"></iframe>
    		    </td>
    		</tr>
    		<tr>
    		    <td>
    		        <iframe src="{{ url_for('price') }}" height="241" width="100%" style="border:none;" scrolling="yes"></iframe>
    		    </td>
    		</tr>
	    </table>
    </div>

    </body>
</html>